
.header1, span {
  font-family: roboto;
  text-align: center;
}

.header1 {
  font-size: 36px;
}

p {
  font-family: lora;
  text-align: center;
  margin-bottom: 2%;
}

.input-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.button-1:hover {
    background-color: #B20400;
    border: none;
    color: white;
    padding: 16px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    /*box-shadow: 3px 3px 1px #888888;*/
}

.button-1 {
    background-color: #B20400;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 3px 3px 1px #888888;
}


.button-2:hover {
  background-color: #02B23B;
  border: none;
  color: white;
  padding: 16px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  /*box-shadow: 3px 3px 1px #888888;*/
}

.button-2 {
    background-color: #02B23B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 3px 3px 1px #888888;
}

.button-3:hover {
    background-color: #0B7EB2;
    border: none;
    color: white;
    padding: 16px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 3px 3px 1px #888888;
    cursor: pointer;
}

.button-3 {
    background-color: #0B7EB2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 3px 3px 1px #888888;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2%;
}

body {
  background-image: url('/../img/background.jpg');
  background-repeat: repeat;
  color: white;
}

@media (min-width:600px) {
  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
  }

  .container {
    margin-top: 10%;
    padding-left: 3%;
  }

}
